.search-container {
  margin: 16px 0;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 350px;
  margin: 8px 0;
  cursor: pointer;
}

.card-content {
  display: flex;
  align-items: center;
  padding: 0;
  height: 80px;
}

.card-icon-container {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-primary);
  height: 100%;
}

.card-icon {
  font-size: 30px;
  color: rgb(172, 18, 219);
}

.card-title-container {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-dark);
  color: rgb(0, 0, 0);
  height: 100%;
  font-size: 18px;
}
